body{
    background-color: darkcyan;
    background-image: url(wayang\ windu.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: block;

}

h1{
    text-align: center;
    margin-top: 4cm;
    font-family: 'Times New Roman', Times, serif;
    color: blue;
}
h2{
    text-align: center;
    color: aqua;
    text-transform: initial;
}
h3{
    text-align: center;
    color: brown;
    text-decoration: line-through;
}
p{
    text-align: justify;
    color: black;
    letter-spacing: normal;
}